body {
/*	background:url('tab-3.jpg');
	background-size:cover;*/
	font-family: Comic Sans MS;
}
h1{
	text-align: center;
	font-family: Comic Sans MS;
	color:red;
}
textarea{
	padding: 20px;
	width: 500px;
	height: 200px;
	border-radius: 20px;
	border-color: black;
	position: absolute;
	top: 110px;
	left: 70px;
}
p{
	position: absolute;
	top: 110px;
	color: red;

}
span{
	position: absolute;
	top: 75px;
	color: red;
}
input[type=submit]{
	position: absolute;
	top: 360px;
	width: 100px;
	height: 30px;
	left: 250px;
	border-radius: 10px;
}
input[type=date]{
	position: absolute;
	top: 70px;
	width: 170px;
	text-align: center;
	border-radius: 10px;
	height: 30px;
	left: 70px;
}
a{
	text-decoration: none;
	color: red;
}

.fed{
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px;
	border-radius: 10px;
	background-color: black;
	

}
.fed a{
	text-decoration: none;
	color: white;
	font-family: bookman old style;
}