a{
	text-decoration: none;
	color: red;
}

.log{
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px;
	border-radius: 10px;
	background-color: black;
	

}
.log a{
	text-decoration: none;
	color: white;
	font-family: bookman old style;
}