body {
/*	background:url('tab-4.jpg');*/
	background-size:cover;
	font-family: Comic Sans MS;
}
a{
	text-decoration: none;
	color: red;
}
h1{
	text-align: center;
	font-family: Comic Sans MS;
	color:red;
}
table{
	color: black;
	width: 900px;
	height: 100px;
	text-align:center;
	padding: 0px;
	margin: 5px;
}
.back{
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 5px;
	border-radius: 10px;
	background-color: black;
	

}
.back a{
	text-decoration: none;
	color: white;
	font-family: bookman old style;
}
